<h1>Status for progress</h1>

Udvikling i Ruby on Rails fra 1/7-21 med Ruby og fra 12/7-21 med Rails <br>
Nu mangler vi bare de andre 95% :-) :-) <br>

15/7/21
Der er oprettet to sider, med header bar og navigation. <br>
19/7/21
Database oprettet, med opret vise ændre og slette funktion.<br>
20/7/21
Design ved brug af Bootstrap. <br>
21/7/21 (formiddag)
Oprette bruger oprettelse og log ind med almindelig sikkerhed. <br>
21/7/21 (eftermiddag)
Bootstrap log ind side. <br>
22/07/21
Bootstrap alle sider og indsætte "cards" på hver side. <br>
23/07/21
Oprette forbindelser imellem bruger og bruger data. <br>
26/07/21
Bruge relationer så hver bruger kun kan se sine egne data i navne listen. <br>
02/08/21
Lidt design og funktions opdatering. <br>
09-08-21
Git - Github - Heroku alt lagt op og kører. <br>







